table {
    width: 100%;
    border-collapse: collapse;
    background: var(--card-bg);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}

thead {
    background-color: var(--primary);
    color: white;
}

thead th {
    padding: 1rem;
    text-align: left;
    font-weight: 600;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* Corps du tableau */
tbody tr {
    border-bottom: 1px solid var(--border);
    transition: background 0.2s;
}

tbody tr:hover {
    background-color: #f8fafc;
}

tbody tr:last-child {
    border-bottom: none;
}

tbody td {
    padding: 1rem;
    color: var(--text-main);
    text-align: center;
}


tbody td strong {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 0.85em;
    font-weight: 600;
    background-color: var(--primary);
    color: white;
}


tbody a {
    text-decoration: none;
    font-weight: 500;
}

tbody a[style*="red"] {
    color: var(--danger);
}

tbody a[style*="red"]:hover {
    text-decoration: underline;
}


select,
select::picker(select) {
    border: none;
    outline: none;
	appearance: base-select;
	padding: 0.5rem;
	border-radius: 10px;
    color: #f8fafc;
    background-color: var(--primary);
}

/* Responsive */
@media (max-width: 768px) {
    table {
        font-size: 0.85em;
    }

    thead th,
    tbody td {
        padding: 0.75rem 0.5rem;
    }
}